[Unit]
Description=kiln-controller

[Service]
ExecStart=/home/xavier/kiln-controller/venv/bin/python /home/xavier/kiln-controller/kiln-controller.py

[Install]
WantedBy=multi-user.target
